<%= simple_form_for [course, contentable] do |form| %>
  <%= form.error_notification %>
  <!-- study_module.name -->
  <%= form.simple_fields_for :study_module do |study_module_form| %>
    <%= study_module_form.input :name, label: "Quiz name" %>
  <% end %>

  <!-- quiz.text -->
  <%= form.input :text, label: "Quiz description" %>
  <!-- QUESTIONS LISTS -->
  <div data-controller="nested-form">
    <template data-target='nested-form.template'>
      <%= form.simple_fields_for :questions, Question.new, child_index: 'TEMPLATE_RECORD' do |question| %>
        <%= render "#{contentable.class.table_name}/question_fields", form: question, contentable: contentable %>
      <% end %>
    </template>

    <%= form.simple_fields_for :questions do |question| %>
      <%= render "#{contentable.class.table_name}/question_fields", form: question, contentable: contentable %>
    <% end %>

    <div data-target="nested-form.add_item">
      <%= link_to "Add Question", "#", data: { action: "nested-form#add_association" }, class: "small" %>
    </div>
  </div>
  <div class="form-actions my-4 w-100">
    <%= form.button :submit, class: "btn btn-info flex-grow-1" %>
    <%= form.submit "Preview", class: "btn btn-info flex-grow-1" %>
  </div>
<% end %>
