<%= simple_form_for(@todo_list) do |form| %>
  <%= form.error_notification %>

  
  <div data-controller="nested-form">
    <template data-target='nested-form.template'>
      <%= form.fields_for :questions, Question.new, child_index: 'TEMPLATE_RECORD' do |question| %>
        <%= render 'question_fields', form: question %>
      <% end %>
    </template>

    <%= form.fields_for :questions do |question| %>
      <%= render 'question_fields', form: question %>
    <% end %>

    <div data-target="nested-form.add_item">
      <%= link_to "Add Question", "#", data: { action: "nested-form#add_association" } %>
    </div>
  </div>
<% end %>
