<div class="bg-white p-5 m-3">
<%= simple_form_for [@course, @contentable], url: study_course_path(@course, study_module_id: @contentable.study_module.id), method: :post do |quiz_builder| %>

  <ol>
  <% @contentable.questions.each do |question| %>
  <%= quiz_builder.simple_fields_for :questions, question do |question_builder| %>
      <li>
        <%= question_builder.label question.text %>
        <ul class="fa-ul">
          <%= question_builder.collection_check_boxes :answers, question.answers, :id, :text, item_wrapper_tag: :li do |answer_builder| %>
          <%= answer_builder.label { answer_builder.check_box + answer_builder.text } %>
          <% end %>
        </ul>
      </li>
  <% end %>
  <% end %>
  </ol>

  <div class="form-actions">
    <%= quiz_builder.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
</div>