<div data-controller="progresses" >

  <div class="row mt-5">
    <div class="col-md-4 col-lg-3" id="sidebar">
      <div class="student_show sticky-top">
        <div id="topic-list" class="flex-grow-1 mt-2 mr-1">
          <h6 class = "px-3 text-white sidebar-header">MODULES</h6>
          <ol class="fa-ul">
            <% @course.study_modules.each_with_index do |study_module, index| %>
            <li class = "p-1">
              <span class="fa-li">
                <%= if @enrollment.module_index >= study_module.index
                  icon("fas", "check-square", class: "text-white")
                elsif study_module.contentable_type == Lesson.to_s
                  icon("fas", "square", class: "text-secondary")
                elsif study_module.contentable_type == Quiz.to_s
                  icon("fas", "stream", class: "text-secondary")
                end
                %>
              </span>
              <%= link_to_if (study_module.index <= @enrollment.module_index && request.fullpath != study_course_path(@course, study_module_id: study_module.id)),
              "#{index + 1}. #{study_module.name}", study_course_path(@course, study_module_id: study_module.id)
              %>
            </li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  <div class="col-md-8 col-lg-9">
    <div class="study-course-content">
      <div class="sticky-top" style="background: #fff; z-index: 999;">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <% is_first_module = @current_module == @course.first_module %>
            <%= link_to_unless (is_first_module), "#{icon("fas", "angle-left", class: "fa-lg module-nav-left")} Prev".html_safe, study_course_path(@course, study_module_id: @current_module.previous_module), class: "btn text-secondary border" do 
              "Start of course"
            end %>
          </div>
          <h4 class="text-small m-2"><b><%= @current_module.name %></b></h4>
          <div>
            <% is_last_module = @current_module == @course.last_module %>
            <%= icon("fas", "angle-right", class: "fa-lg module-nav-right text-secondary", style: "display: #{(@quiz_passed || (is_last_module)) ? "none" : "inline" };") %>
            <%= link_to_unless (is_last_module), "Next #{icon("fas", "angle-right", class: "fa-lg")}".html_safe, study_course_path(@course, study_module_id: @current_module.next_module), class: "module-nav-right btn text-secondary border", style: "display: #{@quiz_passed ? "inline" : "none" };" do 
              "End of course"
            end %>
          </div>
        </div>
        <%= render partial: '/study/progresses/show', locals: { course: @course } %>
      </div>
      <div class="modules bg-muted w-100">
        <div class="preview h-100">
          <%= render "study/#{@contentable.class.table_name}/module_view", contentable: @contentable %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
