<div class="container">
  <h1>#<%= @course.name %></h1>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render "chat/messages/message", message: message %>
    <% end %>
  </div>

  <%# POST   /chat/courses/:course_id/messages         chat/messages#create %>
  <%= simple_form_for [@message], method: :post, url: chat_course_messages_path(@course) do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@course.id}" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>


