<%# POST   /courses/:course_id/lessons %>
<%= simple_form_for [course, contentable] do |form| %>
<%#= simple_form_for [course, contentable], html: {"data-sgid": contentable.attachable_sgid} do |form| %>
  <%#= raise %>
  <%= form.simple_fields_for :study_module do |study_module_form| %>
    <%= study_module_form.input :name %>
  <% end %>

  <div class="field"> <%# for Action Text %>
    <%= form.label :content %>
    <%= form.rich_text_area :content, class: "editor" %>
    <div class="d-flex justify-content-between">
      <%= form.submit "Update", class: "btn btn-info" %>
      <%= form.submit "Preview", class: "btn btn-info" %>
    </div>
    <%# GET    /courses/:course_id/lessons/:id %>
    <%#= link_to "Preview", course_lesson_path(course, contentable), class: "btn btn-info" %>
  </div>
<% end %>

<%#= javascript_pack_tag 'trix_youtube_plugins' %>
