<div class="d-flex justify-content-between align-items-center my-5">
  <h2 class="m-2"><b><%= @course.name %></b></h2>
  <div>
    <% if @contentable %>
    <%= link_to "Preview Course", publish_course_path(@course, study_module_id: @contentable.study_module.id), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%# raise %>
<div class="row">
  <div class="col-md-4 col-lg-3">
    <div id="course-sidebar" class="sticky-top"">
      <div id="topic-list" class="flex-grow-1 mt-2 mr-1">
        <ul class="fa-ul">
          <% @course.study_modules.each_with_index do |study_module, index| %>
            <li class="m-1">
              <span class="fa-li">
                <%= icon("fas", "square", class: "text-white") if study_module.lesson? %>
                <%= icon("fas", "stream", class: "text-white") if study_module.quiz? %>
              </span>
              <%= link_to_unless_current "#{index + 1}. #{study_module.name}", edit_course_path(@course, study_module_id: study_module.id) %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class ="d-flex justify-content-start m-1">
        <%= link_to  "#{icon("fas", "plus")} Lesson".html_safe, edit_course_path(@course, type: "lesson"), class: "btn btn-outline-light mr-2", style: "width: 150px;" %>
        <%= link_to  "#{icon("fas", "plus")} Quiz".html_safe, edit_course_path(@course, type: "quiz"), class: "btn btn-outline-light", style: "width: 150px;" %>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-lg-9">
    <div class="modules bg-muted d-flex flex-column w-100">
      <div id="editor" class="flex-grow-1">
        <%= render "#{@contentable.class.table_name}/form", contentable: @contentable, course: @course if @contentable %>
        <%#= link_to "Delete", edit_course_path(@course, study_module_id: @contentable.study_module.id.next ), method: :delete, data: { confirm: "Are you sure?" },
                  class: "card-link text-muted" %>
      </div>
      <div class="course-description">
      </div>
      <%# end %>
    </div>
  </div>
</div>
