    <h4 class="text-small m-2 p-2"><b><%= @course.name %></b></h4>
<div class="d-flex mt-3">
  <div id="course-sidebar" class="bg-white mr-5">
    <div id="topic-list" class="flex-grow-1 mt-2 mr-1">
      <h5 class = "m-2">Contents</h5>
      <ul>
        <% count = 1 %>
        <% @course.study_modules.each do |study_module| %>
          <li class = "card p-2 mb-2"><%= count %>. <%=link_to_unless_current study_module.name, edit_course_path(@course, study_module_id: study_module.id) %></li>
          <% count += 1 %>
        <% end %>
        <div class ="d-flex justify-content-start">
          <%= link_to  "+ Lesson", new_course_lesson_path(@course), class: "btn btn-primary mr-2", style: "width: 100px;" %>
          <%= link_to  "+ Quiz", new_course_quiz_path(@course), class: "btn btn-primary", style: "width: 100px;" %>
        </div>
      </ul>
    </div>
  </div>
  <div class="modules bg-muted d-flex flex-column">
    <div class="editor-menu">
      <%= link_to  "Publish", publish_course_path(@course, study_module_id: @course.study_modules.first), class: "btn btn-primary" %>
    </div>
    <div id="editor" class="flex-grow-1">
      <%= render "#{@contentable.class.table_name}/form", contentable: @contentable, course: @course %>
    </div>
    <div class="course-description">
    </div>
  </div>
</div>
