<div class="d-flex mt-5">
  <div id="course-sidebar" class="bg-light mr-5">
    <h4 class="text-small card p-2"><b><%= @course.name %></b></h4>
    <div id="topic-list" class="flex-grow-1">
      <ul>
        <% @course.study_modules.each do |study_module| %>
          <li class = "card p-2 mr-2 mb-1"><%= link_to_unless_current study_module.name, edit_course_path(@course, study_module_id: study_module.id) %></li>
        <% end %>
        <div class ="d-flex justify-content-start">
          <%= link_to  "+ Lesson", new_course_lesson_path(@course), class: "btn btn-primary mr-2", style: "width: 100px;" %>
          <%= link_to  "+ Quiz", new_course_quiz_path(@course), class: "btn btn-primary", style: "width: 100px;" %>
        </div>
      </ul>
    </div>
    <div id="settings">Settings</div>
  </div>
  <div class="modules bg-muted d-flex flex-column">
    <div id="editor" class="flex-grow-1">
      <%= render "#{@contentable.class.table_name}/form", contentable: @contentable, course: @course %>
    </div>
    <div class="course-description">
    </div>
  </div>
</div>
