<div class="d-flex">
  <div id="course-sidebar" class="bg-light">
    <h5 class="text-small"><%= @course.name %></h5>
    <div id="topic-list" class="flex-grow-1">
      <ul>
        <% @course.study_modules.each do |study_module| %>
          <li><%= link_to_unless_current study_module.name, edit_course_path(@course, study_module_id: study_module.id) %></li>
        <% end %>
        <li>
          <%= link_to  "Create a lesson", new_course_lesson_path(@course), class: "text-info" %>
          <span>OR</span>
          <%= link_to  "Create a quiz", new_course_quiz_path(@course), class: "text-info" %>
        </li>
      </ul>
    </div>
    <div id="settings">Settings</div>
  </div>
  <div class="modules bg-muted d-flex flex-column">
    <div class="editor-menu">
      <%= link_to  "Add Module", "#", class: "btn btn-primary" %> |
      <%= link_to  "Publish", publish_course_path(@course, study_module_id: @course.study_modules.first), class: "btn btn-primary" %>
    </div>
    <div id="editor" class="flex-grow-1">
      <%= render "#{@contentable.class.table_name}/form", contentable: @contentable, course: @course %>
    </div>
    <div class="course-description">
    </div>
  </div>
</div>
