<div class = "d-flex justify-content-between">
  <div>
    <h1>Your courses</h1>
  </div>
  <div>
    <%= link_to "Add Course", new_course_path, class: "btn btn-primary m-3 mr-5" %>
  </div>
</div>
<div class = "d-flex flex-wrap">
<% @courses.each do |course| %>
  <div class="card bg-light mb-3 m-3" style="max-width: 26rem;min-width: 18rem;">
  <div class="card-header name-desc"><h3><b><%= course.name %></b></h3></div>
  <div class="card-body">
    <h5 class="card-title"><%= course.category %></h5>
    <p class="card-text desc"><%= course.description %></p>
  </div>
  <%= link_to "View", course_path(course), class: "btn btn-primary" %>
</div>
<% end %>
</div>
