<div class="d-flex justify-content-between">
<h4 class="text-small m-2"><b><%= @course.name %></b></h4>
  <% if current_user == @course.teacher %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
      Publish
    </button>
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Share your Course</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body border border-secondary m-3">
            <p id="url"><%= request.original_url %></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" onclick="copy()">Copy Link</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="d-flex mt-3">
  <div id="course-sidebar" class="mr-5">
    <div id="topic-list" class="flex-grow-1 mt-2 mr-1">
      <ol>
        <% @course.study_modules.each do |study_module| %>
          <li class = "p-1">
            <% if study_module.contentable_type == "Lesson" %>
              <i class="far fa-file-alt"></i> - <%=link_to_unless_current study_module.name, publish_course_path(@course, study_module_id: study_module.id) %>
            <% else %>
              <i class="fas fa-tasks"></i> - <%=link_to_unless_current study_module.name, publish_course_path(@course, study_module_id: study_module.id) %>
            <% end %>
            </li>
        <% end %>
          <h5 class="mt-4"><b>END OF COURSE </b></h5>
      </ol>
    </div>
    <!-- <div id="settings">Settings</div> -->
  </div>
  <div class="modules bg-muted d-flex flex-column">
    <div id="editor" class="flex-grow-1">
      <%= render "#{@contentable.class.table_name}/preview_form", contentable: @contentable %>
    </div>
    <div class="course-description">
    <!--   <%= @course.description %> -->
    </div>
  </div>
</div>

